.navbar {
    background-color: gray;
}

.navbar::after {
    content:" ";
    clear: both;
    display: block;
}

.list_style {
    display: inline;
    margin-right: 10px;
    padding-right: 8px;
    font-family: sans-serif;
    font-weight: bold;
}

.link_container {
    float: right;
    padding-top: 25px;
}

.banner_style {
    display: inline;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
}
.logo {
    
    color: white;
    font-size: 100;
    margin-left: 10px;
    float: left;
    font-family: sans-serif;
    display: inline;
}

.banner {
    box-sizing: border-box;
    border: 7px solid black;
    width: 100%;
    text-align: center;
    font-family: sans-serif;  
    color:black;
    background-color: teal;
    height: fit-content
}

.banner::after {
    content:" ";
    clear: both;
    display: block;
}


.joanna {
    float: left;
    width: 25%; 
    background-color:black;
    margin-right: 15px;
}

.joanna::after {
    content:" ";
    clear: both;
    display: block;
}

a:hover {
    background-color: white;
    color: violet;
    opacity: 0.8;
}

a:visited{
color: darkslategrey;
}

a {
    text-decoration: none;
}


.article-container {
    width: 70%;
}

.article {
    float: left;
    font-family: sans-serif;
    box-sizing: border-box;
    box-shadow: 7px 7px 0px 3px teal;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    width: 100%;
    padding: 10px;
}

.article-text p {
    color: black;
    font-size: 1.2em;
}

.article-container::after {
    content:" ";
    clear: both;
    display: block;
    width: 70%;
}

.aside-container {
    float: right;
    width: 29%;
}

.aside {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    padding: 10px;
    float: right;
    display: block;
}

.aside-container::after {
    content:" ";
    clear: both;
    display: block;
}

iframe {
    display: block;
}

#article1 {
    height: 279.76px;
}
#article2 {
    height: 279.76px;
}
#article3 {
    height: 279.76px;
}
#article4 {
    height: 279.76px;
}




footer {
   
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    padding-top: 40px;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500%;
    margin: 10px auto;
    line-height: 5px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: white;
}
.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i {
    color: yellow;

}
.footer-bottom {
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}