body {
    background-color: black;
}
.navbar {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("/images/water.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 250px;
    background-position: center;
    position: fixed;
    top: 0;
    width: 100%;
    transform: scale(1);
    transition: .6s;
}

.navbar a {
    display: inline-flex;
    transform: scale(1);
    transition: .6s;
}

.navbar::after {
    content:" ";
    clear: both;
    display: block;
}

.nunes {
    height: 250px;
    transform: scale(1);
    transition: .6s;
}


.shev {
    height: 250px;
    margin-left: -30px;
    transform: scale(1);
    transition: .6s;
}

.rose {
    height: 250px;
    margin-left: -250px;
    transform: scale(1);
    transition: .6s;
}

.list_style {
    color: white;
    display: inline;
    align-items: center;
    padding-right: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    transform: scale(1);
    transition: .6s;
    padding-right: 20px;
}

.link_container {
    float: right;
    padding-top: 15px;
    display: flex;
    width: 400px;
    transform: scale(1);
    transition: .6s;
}

.zoom-in:hover {
    transform: scale(1.2);
    transition: .6s;
}


.banner_style {
    margin-right: 40px;
    margin-left: 40px;
    display: inline-flex;
    transition: .6s;
    transform: scale(1);
    text-decoration: none;
    color: white;
}

.banner-zoom-in:hover {
    transform: scale(1.2);    
    transition: .6s;
}

.logo {
    padding-left: 50px;
    float: left;
    font-family: sans-serif;
    display: flex;
    transition: .6s;
    transform: scale(1);
}

.ufc-logo {
    width: 50%;
    padding-top: 40px;
}

.logo:hover {
    transform: scale(1.1);
}

.banner {
    width: 98%;
    display: inline-block;
    font-family: sans-serif;  
    background-color: black;
    width: 100%;
    padding-left: 23.75%;
    position: fixed;
    top: 250px;
    width: 100%;
}



.banner::after {
    content:" ";
    clear: both;
    display: block;
}


.joanna {
    float: left;
    width: 40%; 
    background-color:black;
    margin-right: 15px;
    margin-top: 0;
    
    opacity: 1;
    
    transition: .6s;
}

/*.image-container {
    float: left;
    width: 40%; 
    background-color: black;
    margin-right: 15px;
    margin-top: 0;
    opacity: 1;
    transition: .6s;
}

.image-container a {
    transform: scale(1);
    transition: .6s;
    scroll-behavior: smooth;
}

.gdr {
    float: left;
    display: inline-flex;
    margin-left: -20px;
    
}

.aldana {
    float: left;
    display: flex;
    ;
    
}*/

.image-container::after {
    content: " ";
    clear: both;
    display: block;
}

.joanna::after {
    content:" ";
    clear: both;
    display: block;
}

/*.joanna:hover {
    transform: scale(1.02);
    transition: .6s;
}*/

a:hover {
    color: teal;
    transition: .6s;
}

a:visited{
color: gainsboro;
}

a {
    text-decoration: none;
}


.article-container {
    width: 100%;
    top: 350px;
}

.article-container::after {
    content: " ";
    clear: both;
    display: block;
}

.article {
    background-color: white;
    opacity: 1;
    float: left;
    font-family: sans-serif;
    box-sizing: border-box;
    box-shadow: 7px 7px 0px 1px teal;
    /*border-right: 4px solid black;
    border-bottom: 4px solid black;*/
    width: 45%;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 28%;
    display: inline-flexbox;
}

.article-text h2 {
    text-align: left;
}

.article-text p {
    color: black;
    font-size: 1.2em;
    text-align: left;
    position: flex;
    flex-wrap: wrap;
}

.article-container::after {
    content:" ";
    clear: both;
    display: block;
}

/*.aside-container {
    float: right;
    width: 29%;
}

.aside {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    padding: 10px;
    float: right;
    display: block;
}

.aside-container::after {
    content:" ";
    clear: both;
    display: block;
}*/

iframe {
    display: block;
    width: 100%;
}
/*
#article1 {
    height: 200px;
}
#article2 {
    height: 200px;
}
#article3 {
    height: 200px;
}
#article4 {
    height: 200px;
}
*/
footer {
    display: inline-flexbox;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100%;
    font-family: sans-serif;
    padding-top: 40px;
    color: white;
    float: left;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content a {
    display: flex;
    transform: scale(1);
    transition: .6s;
}

.footer-content a:hover {
    color: teal;
    transform: scale(1.2);
    transition: .6s;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500%;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding-left: 0;
    transform: scale(1);
    transition: .6s;
}

.socials li {
    margin: 0 50px;

}

.socials a {
    text-decoration: none;
    color: white;

}

.socials a i {
    font-size: 3rem;
    transform: scale(1);
    transition: .6s;
}

.socials a:hover i {
    color: teal;
    transform: scale(1.4);
    transition: .6s;

}

.footer-bottom {
    background: darkslategrey;
    opacity: .3;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.title {
    font-family: sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.form-group {
    padding: 10px;
}

.portrait {
    float: left;
    width: 500px;
    height: 538px;
    padding-right: 10px;
}

.aboutme {
    background-color: white;
    text-indent: 25px;
    font-size: 1vw;
    font-family: sans-serif;
    box-sizing: border-box;
    box-shadow: 7px 7px 0px 3px yellow;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    width: 100%;
}

.aboutme-container {
    font-size: larger;
    width: 50%;
    height: 50%;
    text-align: left;
    padding-left: 18%;
}

.aboutme-text {
    font-weight: 800;
    padding-right: 10px;
}

.aboutme-container::after {
    content: " ";
    clear: both;
    display: block;
}

body,
html {
    height: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url("https://i.pinimg.com/originals/d4/a9/4f/d4a94fc1adad71c29065376eb6ce85a6.jpg");
    height: 100%;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.hero-text {
    font-family: sans-serif;
    position: absolute;
    font-size: 25;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: white;
    text-indent: 25px;
    box-sizing: border-box;
    box-shadow: 7px 7px 0px 3px teal;
    border-right: 4px solid black;
    border-bottom: 4px solid black;

}

.hero-about-vid {
    font-family: sans-serif;
    width: 35%;
    height: 1svmax;

    margin-left: 32.5%;
    color: black;
}

.hero-form-text {
    font-family: sans-serif;
    text-align: center;
    width: 33%;
    top: 50%;
    margin-left: 33%;
    color: white;
  }

 
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    display: block;
    width: 97%;
    height: 300px;
  }

  select {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    display: block;
    width: 100%;
  }

  body,
  html {
    height: 100%;
  }

  .button {
    text-align: center;
    color: black;
    background-color: teal;
    border-radius: 10px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
  }

  form {
    border: 3px double #999;
    margin-bottom: 50px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 7px 7px 0px 3px teal;
  }

  .form-group {
    padding: 10px;
  }

.banner-nav-spacer {
    display: block;
    width: 100%;
    height: 348.49px;
}